.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 209px;
    background-color: black;
    margin: 0 -25.79% 0 -25.79%;

    p {
        
        color: $color-primary;
        padding-top: 31.67px;
        white-space : nowrap;
        font-size:  calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
    img {
        width: 122px;
        height: 39.44px;
        filter: grayscale(100%) brightness(200%);
    }
}

