.nav-head {
    display: flex;
    align-items: center;
    .nav-home,
    .nav-about {
        text-decoration: none;
        color: #ff6060;
        font-size: calc(15px + (23 - 15) * ((100vw - 300px) / (1600 - 300)));
        padding-left: calc(10px + (60 - 10) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 500;
        white-space : nowrap;
        
        
        &:hover {
            text-decoration-line: underline;
            
        }
    }
}

